/**
 * Custom light background theme for reveal.js using your Cockroach Labs brand colors.
 */

// Default mixins and settings --------------------------------
@import "node_modules/reveal.js/css/theme/template/mixins";
@import "node_modules/reveal.js/css/theme/template/settings";
// ------------------------------------------------------------

// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap'); // Importing Poppins font

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #FFF; // A lighter secondary color for the background

$mainColor: #190F33; // Dark color for text for contrast
$headingColor: #BB27C4; // A primary color for headings

$mainFontSize: 35px; // Adjusted to your preferences
$mainFont: 'Lato', sans-serif; // Your specified main font
$headingFont: 'Poppins', sans-serif; // Poppins for headings
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600; // Adjusted weight for Poppins

$linkColor: #BB27C4; // A primary color for links
$linkColorHover: lighten($linkColor, 20%); // Lightened on hover
$selectionBackgroundColor: #B921F1; // A secondary color for text selection

$heading1Size: 3.77em;
$heading2Size: 2.11em;
$heading3Size: 1.55em;
$heading4Size: 1.00em;

// Table styling variables
$tableBorderColor: #ddd;
$tableHeaderBackgroundColor: #f2f2f2;
$tableFontSize: 0.4em;
$tablePadding: 1px 2px;

$resultSetHeaderColor: #E1D6FF;

$kvTableHeaderColor: #0055FF;

$greyStyle: #919191;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#190F33); // Dark color for better readability on light background

// Theme template ------------------------------------------------
@import "node_modules/reveal.js/css/theme/template/theme";
// ---------------------------------------------------------------

 /* Two-Column Layout Styling */
.reveal .two-column-layout {
    display: flex;
    justify-content: space-between;

    > div {
        width: 48%; // Slightly less than 50% to account for margins/padding
    }
}

.reveal code {
    font-family: 'Source Code Pro', monospace; // preferred code font
    color: #0055FF ; // preferred code text color
    padding: 0.2em 0.4em; // Optional: Add some padding around the code
    border-radius: 4px; // Optional: Round the corners of the code blocks
}

.reveal section img {
    max-width: 100%; // Ensures the image is not wider than its container
    max-height: 25vh; // Ensures the image's height does not exceed 25% of the viewport height
    object-fit: contain; // Ensures the image maintains its aspect ratio
    margin: 0 auto; // Centers the image
    display: block; // Treats the image as a block-level element
}

.reveal .imageblock.full-diagram img {
  max-width: 100%; // Ensures the image is not wider than its container
  max-height: 80vh; // Limits the image's max height to 80% of the viewport
  object-fit: contain; // Ensures the image maintains its aspect ratio
  margin: 0 auto; // Centers the image
  display: block; // Treats the image as a block-level element
}

.reveal .imageblock.half-diagram img {
  max-width: 100%; // Ensures the image is not wider than its container
  max-height: 50vh; // Limits the image's max height to 50% of the viewport
  object-fit: contain; // Ensures the image maintains its aspect ratio
  margin: 0 auto; // Centers the image
  display: block; // Treats the image as a block-level element
}

.reveal .imageblock.quarter-diagram img {
  max-width: 100%; // Ensures the image is not wider than its container
  max-height: 30vh; // Limits the image's max height to 30% of the viewport
  object-fit: contain; // Ensures the image maintains its aspect ratio
  margin: 0 auto; // Centers the image
  display: block; // Treats the image as a block-level element
}

.reveal .small-text-bullets ul, 
.reveal .small-text-bullets ol {
    font-size: 0.7em; // Adjusts the font size to 70% of the inherited size
}

// to make a smaller font for the exercise tables. 
.reveal .base-table {
  width: 100%;
  border-collapse: collapse;
  font-size: $tableFontSize;

  th, td {
    border: 1px solid $tableBorderColor;
    padding: $tablePadding;
  }

  th {
    background-color: $tableHeaderBackgroundColor;
    text-align: left;
  }

  td p {
    margin: 0 !important;
    padding: 2px !important;
    line-height: 1 !important;
  }
}

// Specific table styling for small font tables
.reveal .small-font-table {
  @extend .base-table;
}

.reveal .data-table {
  @extend .small-font-table;

  td {
    font-family: 'Source Code Pro', monospace;
  }
}

// Specific table styling for index tables
.reveal .index-table {
  @extend .data-table;
  border-style: dashed;

  th, td {
    border-style: dashed;
  }
}

// Specific table styling for result-set tables
.reveal .result-set-table {
  @extend .index-table;

    th {
      background-color: $resultSetHeaderColor;
    }
}

// Specific table styling for kv-tables
.reveal .kv-table {
  @extend .base-table;

  th {
    background-color: $kvTableHeaderColor;
    border-radius: 10px;
    color: #fff;
  }

  table, td {
    border: 1px solid $kvTableHeaderColor;
    border-radius: 10px;
  }

}

.mark {
  background-color: cyan;
}

.mark-gold {
  background-color: gold;
}

.mark-violet {
  background-color: violet;
}

.reveal .greyed-list li {
  color: $greyStyle;
}

.reveal .greyed-text {
  color: $greyStyle;
}

.reveal .top-caption {
  font-size: 0.5em; // Smaller font size
  text-align: left;
  font-weight: bold;
}

.reveal .top-caption p {
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 0;
}

/*********************************************
 * CRL HEADERS
 *********************************************/

.h1-style,
.h2-style,
.h3-style,
.h4-style,
.h5-style,
.h6-style {
     margin: var(--r-heading-margin);
     color: var(--r-heading-color);
 
     font-family: var(--r-heading-font);
     font-weight: var(--r-heading-font-weight);
     line-height: var(--r-heading-line-height);
     letter-spacing: var(--r-heading-letter-spacing);
 
     text-transform: var(--r-heading-text-transform);
     text-shadow: var(--r-heading-text-shadow);
 
     word-wrap: break-word;
}
 
.h1-style {font-size: var(--r-heading1-size); }
.h2-style {font-size: var(--r-heading2-size); }
.h3-style {font-size: var(--r-heading3-size); }
.h4-style {font-size: var(--r-heading4-size); }

.h1-style {
     text-shadow: var(--r-heading1-text-shadow);
}

/*********************************************
* Rules that adjust Asciidoctor rendering so that it appears like Markdown.
*********************************************/

/*
 * Asciidoctor wraps <li>-enclosed text with a <p>. Markdown does not. This applies Markdown-type styling.
 */
.reveal li p {
  line-height: 45.5px;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/**
 * Asciidoctor turns all slide headers into <h2>. Markdown supports <h2> and <h3>. This ensures
 * that the first section of a vertical stack of slides retains --r-heading2-size while the rest
 * are transformed using --r-heading3-size.
 */
.reveal :not(section:first-child):not(.h1-style):not(.h2-style):not(.h3-style):not(.h4-style):not(.h5-style):not(.h6-style) {
  > h2 {
    font-size: var(--r-heading3-size);
  }
}

/*********************************************
 * Course Tiles
 *********************************************/

/* Course Tiles */
/* tracks */
.track-header h2 {
  color: #fff; }

.track-header h3 {
  color: #fff;
  font-weight: 600; }

.track-header p {
  color: #fff; }

.tracks--topics h3 {
  color: #fff;
  font-weight: 600;
  margin-top: 40px; }

.courses-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 0.5rem;
}

.course-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f9f9f9;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  box-sizing: border-box;
  min-width: 200px;
  max-width: 320px;
  max-height: 100%; /* Ensure the tiles fit within the container */
  overflow: hidden;
}

.course-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: auto; /* Ensure the container can expand */
}

.course-icon img {
  height: auto;
}

.course-title {
  font-size: .5em;
  font-weight: 600;
  margin: 1rem 0;
  text-align: center;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.course-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 0;
  border-top: 2px solid #BB27C4;
}

.course-description {
  font-size: 0.4em;
  text-align: left;
  width: 0%;
  margin-bottom: 1rem;
  overflow: hidden; /* Hide overflow text */
}

.course-links {
  font-size: 0.4em;
  width: 100%;
  padding-left: 1rem;
}

.course-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.course-links li {
  margin-bottom: 0.5rem;
}

.course-links a {
  color: #BB27C4;
  text-decoration: none;
}

.course-links a:hover {
  text-decoration: underline;
}

.course-length {
  font-size: 0.4em;
  color: #919191;
  text-align: center;
}

@media (max-width: 1199px) {
  .course-tile {
      flex: 1 1 calc(50% - 1rem); /* Adjust for smaller screens */
  }
  .course-description,
  .course-links {
      font-size: 0.4em;
  }
}

@media (max-width: 767px) {
  .course-tile {
      flex: 1 1 calc(100% - 1rem); /* Full width for mobile */
  }
  .course-content {
      flex-direction: column;
      align-items: center;
  }
  .course-description,
  .course-links {
      width: 100%;
      text-align: center;
      padding-left: 0;
  }
}
/**
 * Restore Asciidoctor's support for different numbered styles for ordered lists.
 * See https://docs.asciidoctor.org/asciidoc/latest/lists/ordered/#styles
 */
 .reveal ol.arabic {
  list-style-type: decimal;
}

.reveal ol.decimal {
  list-style-type: decimal-leading-zero;
}

.reveal ol.loweralpha {
  list-style-type: lower-alpha;
}

.reveal ol.upperalpha {
  list-style-type: upper-alpha;
}

.reveal ol.lowerroman {
  list-style-type: lower-roman;
}

.reveal ol.upperroman {
  list-style-type: upper-roman;
}

.reveal ol.lowergreek {
  list-style-type: lower-greek;
}

// to make a smaller font for the exercise tables. 
.reveal .small-font-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.4em; // Smaller font size
}

.reveal .small-font-table th, 
.reveal .small-font-table td {
  border: 1px solid #ddd;
  padding: 1px 2px; 
}

.reveal .small-font-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.reveal .small-font-table td p {
  margin: 0 !important; // Remove margins from <p> elements within table cells
  padding: 2px !important; // Remove padding from <p> elements within table cells
  line-height: 1 !important; // Ensure line height does not add extra space
}
